*{
   margin: 0;
   padding: 0;
   font-family: 'Spartan', sans-serif;;
}

.header{
   min-height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: flex;
   justify-content: space-between;
  background-color: #53c68c;
  max-height: 70px;
}
nav img{
   height: 120px;
   width: 120px;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   padding-top: 3%;
   list-style: none;
   display: inline-block;
   padding-right: 7%;
   position: relative;
}
.nav-links ul li a{
   color: white;
   text-decoration: none;
   font-size: 13 px;
}
nav .fas{
   display: none;
}

.gbtn{
   background-color: transparent;
   border: none;
   color: #fff;
   cursor: pointer;
   }
   
 @media(max-width: 1366px){
   .header{
      background-color: #53c68c ;
      overflow: hidden;
   }
     .nav-links ul li{
      display: block;
     }
   .nav-links{
        position: absolute;
        background: #53c68c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
     }
   nav .fas{
       display: block;
       color: #fff;
       margin-top: 10%;
       margin-right: 8%;
       padding-right: 16px;
       font-size: 15px;
       cursor: pointer; 
     }
     .nav-links ul{
        padding: 30px;
     }
  }
/* SEARCH BAR*/
.nav-search{
   width: 200px;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
}
@media screen and (max-width: 600px) {

   .navbar a,
   .navbar input[type=text] {
       float: none;
       border-radius: 10px;
       display: block;
       text-align: left;
       width: 100%;
       margin: 0;
       padding: 14px;
   }
   .nav-search{
      width: 95%;
    }
   .navbar input[type=text] {
       border: 1px solid black;
   }
   .nav-search{
      width: 90%;
       border-radius: 15px;
       border: 1px #000 solid;
       padding: 5px 5px 5px 25px;
       top: 0;
       left: 0;
       z-index: 5;
}
}
@media screen and (max-width: 500px) {
 .navbar a {
float: none;
display: block;
  }
 }

*::before, *::after{
margin:0;
padding: 0;
box-sizing: inherit;
}

.faq{
   width: 100%;
   height: 100vh;
   background-color: #F8F8F8;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container{
   width: 100%;
   max-width: 80rem;
   margin: 0 auto;
   padding: 0 1.5rem;
}

.accordion-item{
   border-radius: .4rem;
   margin-bottom: 1 rem;
   padding: 1rem;
   box-shadow: .5rem 2px .5rem rgba(0, 0, 0, .1);
}

.accordion-link{
   font-size: 1.6rem;
   color: rgb(0, 0, 0);
   text-decoration: none;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 0;
}

.accordion-link i{
   color: #53c68c;
   padding: .5rem;
}

.accordion-link .lni-chevron-up{
   display: none;
}
 
.ans{
   max-height: 0;
   overflow: hidden;
   position: relative;
}

.ans ::before{
   content: "";
   position: absolute;
   width: .6rem;
   height: 90%;
   background-color:#53c68c ;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}

.ans p{
   font-size: 1.4rem;
   color: #8c8c8c;
   padding: 2rem;
}

.accordion-item:target .ans{
   max-height: 20rem;

}

.accordion-item:target .accordion-link .lni-chevron-down{
   display: none;
}

.accordion-item:target .accordion-link .lni-chevron-up{
   display: block;
}

/*Footer*/
.foot{
   padding-top: 2%;
   background-color: #f0f0f0;
   color: #383838;
   height: 400px;
   position: relative;
}
.foot-content{
   justify-content: space-between;
   display: flex;
}
.foot-shop{
flex-basis: 15%;
padding-left: 2%;
}
.foot-shop ul li{
list-style: none;
display:list-item;
}
.foot-shop ul li a{
text-decoration: none;
color: black;
}
.foot-company{
flex-basis: 15%;
}
.foot-company ul li{
list-style: none;
display:list-item;
}
.foot-company ul li a{
   color: #3e4444;
text-decoration: none;
}
.foot-help{
flex-basis: 15%;
}
.foot-help ul li{
list-style: none;
display:list-item;
}
.foot-help ul li a{
   color: #3e4444;
text-decoration: none;
}
.foot-icons{
flex-basis: 15%;
padding-right: 3%;
}
.fab{
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
color: #3e4444;
}
.foot .foot-bottom{
background-color: #DCDCDC;
color: #3e4444;
height: 40px;
text-align: center;
position: absolute;
padding-top: 20px;
bottom: 0px;
left: 0px;
width: 100%;
}
@media(max-width:500px){
   .foot{
      height: 690px;
   }
   .foot .foot-content{
      flex-direction: column;
      margin-left: 5%; 
   }
   .foot .foot-content .foot-shop{
      font-size: 16px;
   }
   .foot .foot-content .foot-shop ul li a{
      color: #3e4444;
      text-decoration: none;
   }
   .foot .foot-content .foot-company{
      text-decoration: none;
      color: #3e4444;
      font-size: 16px;
   }
   .foot .foot-content .foot-company ul li a{
      color: #3e4444;
      text-decoration: none;
   }
   .foot .foot-bottom{
      text-decoration: none;
      height: 20px;
      font-size: 14px;
   }
   .foot .foot-content .foot-help ul li a{
      color: #3e4444;
      text-decoration: none;
   }
}