*{
   margin: 0;
   padding: 0;
   font-family: 'Spartan', sans-serif;;
}
.header{
   min-height: 100vh;
   width: 100vw;
   background-image: url(images/cover\ page.png);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: inline;
   justify-content: space-between;
  background-color: #2DC2C2;
  max-height: 60px;
  padding: 5rem 0rem;
}
nav img{
   height: 120px;
   width: 120px;
   z-index: 2;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   padding-top: 3%;
   list-style: none;
   display: inline-block;
   padding-right: 7%;
   position: relative;
}
.nav-links ul li a{
   background-color: #05386B;
   text-decoration: none;
   font-size: 13 px;
}
nav .fas{
   display: none;
}
.nav-links ul li a:hover{
   color: rgb(28, 151, 44);
}
.nav-links ul li button:hover{
   color: rgb(28, 151, 44);
}
#intro-discription{
   position: relative;
   margin: auto;
   text-align: center;
   align-items: center;
   font-size: 2vw;
   max-width: 450px;
   color: white;
   font-weight: bolder;
   font-family: 'Patrick Hand', cursive;
   text-shadow: 3px 3px black;
}
.text-slider .text-slider-items .text-slider span{
   color: #2DC2C2;
}

.fa-instagram:hover {

   color: rgb(28, 151, 44);

}
.fa-facebook-square:hover {
   color:  rgb(28, 151, 44);
}
.fa-twitter-square:hover {
   color:  rgb(28, 151, 44);
}
.fa-linkedin:hover {
   color:  rgb(28, 151, 44);
}


.gbtn{
font-size: 17px;
background-color: transparent;
border: none;
color: blue;
cursor: pointer;
}

 @media(max-width: 1366px){
   .header{
      background-image: url(images/Turquoise\ and\ Green\ Soft\ Watercolor\ No\ Copy\ Phone\ Wallpaper.png);
      overflow: hidden;
   }
     .nav-links ul li{
      display: block;
     }
   .nav-links{
        position: absolute;
        background: #53c68c;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -250px;
        text-align: left;
        z-index: 2;
        transition: 1s;
     }
   nav .fas{
       display: block;
       color: #fff;
       margin-top: 10%;
       margin-right: 6%;
       font-size: 15px;
       cursor: pointer; 
     }
     .nav-links ul{
        padding: 30px;
     }
  }
@media screen and (max-width: 500px) {
 .navbar a {
float: none;
display: block;
  }
 }
 @media only screen and (min-width : 150px) and (max-width : 780px)
 {
    .wrapper
    {
      width: 90%;
      margin: 0 auto;
    }
   .search_box{
      width: 95%;
      margin: 0 auto;
   }
   .search_box .search_btn{
      margin: auto;
      height: 100px;
      width: 100px;
      border-radius: 50%;
   }
 }

/*Search bar*/

::selection{
  color: #fff;
  background: #53c67c;
}

.wrapper{
  max-width: 400px;
  margin: 320px auto;
  margin-bottom: 4rem;
  box-shadow: 15px 1px 20px 8px rgba(122, 216, 153, 0.452);
}

.wrapper .search-input{
  background: #fff;
  width: 100%;
  border-radius: 10px;
  position: relative;
  
}

.search-input input{
  height: 55px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 40px 0 10px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
}

.search-input.active input{
  border-radius: 10px 10px 0 0;
}

.search-input .autocom-box{
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
}

.search-input.active .autocom-box{
  padding: 10px 8px;
  opacity: 1;
  pointer-events: auto;
}

.autocom-box li{
  list-style: none;
  padding: 8px 12px;
  display: none;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li{
  display: block;
}
.autocom-box li:hover{
  background: #efefef;
}

.search-input .icon{
  position: absolute;
  left: 359px;
  top: 0;
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 55px;
  font-size: 30px;
  color: #53c68c;
  cursor: pointer;
}

/*Order*/
.order{
   background-color: #F8F8F8;
   text-align: center;
   width: 100%;
   margin: auto;
   padding-top: 50px;
}
.order-col{
   flex-basis: 30%;
   border-radius: 10px;
   margin-right: 4%;
   margin-left: 4%;
   margin-bottom: 50px;
   position: relative;
   overflow: hidden;
   transition: 0.5s;
}
.order-col:hover{
   box-shadow:0 0 20px 0 rgba(107, 94, 94, 0.2);
}
.order-col img{
   width: 100%;
   display: block;
}
.order-col .buymedbtn{
   position: absolute;
   text-decoration: none;
   top: 70%;
   left: 20%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #4DD890;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
 }

 .buymedbtn:hover{
   background-color: white;
   color:#4DD890 ;
   border:5px solid #4DD890;
   font-weight: bold;

 }
 .order-col .buyhcbtn{
   position: absolute;
   text-decoration: none;
   top: 70%;
   left: 20%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #FF9381;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
 }

 .buyhcbtn:hover{
   background-color: white;
   color:#FF9381 ;
   border:5px solid #FF9381;
   font-weight: bold;

 }
 .order-col .buyltbtn{
   position: absolute;
   text-decoration: none;
   top: 70%;
   left: 20%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   background-color: #2DC2C2;
   color: white;
   font-size: 16px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
 }
 .buyltbtn:hover{
   background-color: white;
   color:#2DC2C2 ;
   border:5px solid #2DC2C2;
   font-weight: bold;

 }

 
.row{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
 }
 @media (max-width:700px){
   .row{
      flex-direction: column;
   }
}
/*Flash-Cards*/
.flashcards{
   background-color: #F8F8F8;
   width: 100%;
   margin:auto;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 20px;
}

.cards-col {
   text-align: left;
   flex: 60%;
   padding: 5px;
   border-radius: 10px;
   margin-left: 3%;
   margin-right: 3%;
   margin-bottom: 50px;
   position: relative;
   overflow: hidden;
}
.cards-col img{
   height:100%;
   width: 100%;
   display: flex;
   border-radius: 10px;
   transition: transform .4s;
}
.cards-col:hover {
   -ms-transform: scale(1.04); 
   -webkit-transform: scale(1.04); 
   transform: scale(1.04); 
 }
.cards-col .btn {
   position: absolute;
   top: 74%;
   left: 23%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-decoration: none;
   background-color: transparent;
   color: white;
   font-size: 15px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
 }
 .btn::after{
   content: '';
   width: 0%;
   height: 10px;
   background:#fff;
   display: block;
   margin: auto;
   transition: 0.4s;
}
 .btn:hover::after{
   width: 100%;
 }
 /*Product*/
 .product{
   text-align: center;
   width: 70%;
   margin: auto;
   padding-top: 50px;
 }
/* product logo styling */
.product .product_logo{
   font-size: 50px;
   font-weight: bolder;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   /* background: skyblue; */
   color: black;
   text-decoration:#4DD890;
   text-shadow: 0px 3px 0px #b2a98f,
                0px 14px 10px rgba(0, 0, 0, 0.15),
                0px 24px 2px rgba(0,0,0,0.1),
                0px 34px 30px rgba(0,0,0,0.1);
}

 .prdct-col {
   text-align: left;
   flex: 60%;
   margin-bottom: 5%;
   position: relative;
   overflow: hidden;
}
.prdct-col img{
   padding: 5%;
   height: 80%;
   width: 80%;
   display: inline-block;
   transition: transform .2s;
}
.prdct-col:hover {
   -ms-transform: scale(1.1); 
   -webkit-transform: scale(1.1); 
   transform: scale(1.1); 
 }
 .flashcards2{
   background-color: #F8F8F8;
   width: 100%;
   text-align: center;
   padding-top: 40px;
   padding-bottom: 20px;
}
.cards-col2{
   text-align: left;
   flex: 60%;
   padding: 5px;
   border-radius: 10px;
   margin-left: 10%;
   margin-right: 10%;
   margin-bottom: 50px;
   position: relative;
   overflow: hidden;
}
.cards-col2 img{
   height:100%;
   width: 100%;
   display: flex;
   border-radius: 10px;
   transition: transform .4s;
}
.cards-col2:hover {
   -ms-transform: scale(1.04); 
   -webkit-transform: scale(1.04); 
   transform: scale(1.04); 
 }
.cards-col2 .btn2{
   position: absolute;
   top: 62%;
   right: 10%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-decoration: none;
   background-color: transparent;
   color: white;
   font-size: 15px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
 }
 .btn2::after{
   content: '';
   width: 0%;
   height: 2px;
   background:#fff;
   display: block;
   margin: auto;
   transition: 0.4s;
}
 .btn2:hover::after{
   width: 100%;
 }
 .cards-col2 .btn3{
   position: absolute;
   top: 62%;
   left: 13%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-decoration: none;
   background-color: transparent;
   color: white;
   font-size: 15px;
   padding: 12px 24px;
   border: none;
   cursor: pointer;
   border-radius: 5px;
   text-align: center;
 }
 .btn3::after{
   content: '';
   width: 0%;
   height: 5px;
   background:#fff;
   display: block;
   margin: auto;
   transition: 0.4s;
}
 .btn3:hover::after{
   width: 100%;
 }
 @media(max-width:500px){
 .btn2{
   width: 50%;
   left: 63%;
   right: 10%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
}
 }
@media(max-width:500px){
   .cards-col2 .btn3{
      width: 50%;
      left: 18%;
      right: 70%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
   }
}
 /*FeedBack*/
 .customers{
   background-color: #F8F8F8;
   width: 100%;
   padding-top: 100px ;
}
.feedbcover img{
margin-bottom: 0%;
height: 350px;
width: 800px;
}
.feedb{
   flex-basis: 32%;
   border-radius: 10px;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 4%;
   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
}
.feedb img{
   height:100%;
   width: 100%;
   display: flex;
   border-radius: 10px;
   transition: transform .4s;
}
@media(max-width:500px){
   .feedbcover img{
   width: 95%;
   }
}
/*Footer*/
.foot{
   padding-top: 2%;
   background-color: #f0f0f0;
   color: #383838;
   height: 400px;
   position: relative;
}
.foot-content{
   justify-content: space-between;
   display: flex;
}
.foot-shop{
flex-basis: 15%;
padding-left: 2%;
}
.foot-shop ul li{
list-style: none;
display:list-item;
}
.foot-shop ul li a{
text-decoration: none;
color: #35038c ;
}
.foot-shop ul li a:hover{
   color:rgb(28, 151, 44);
   text-transform:uppercase;
   text-shadow: #210541;
   
}
.foot-company{
flex-basis: 15%;
}
.foot-company ul li{
list-style: none;
display:list-item;
}
.foot-company ul li a{
   color: #35038c;
text-decoration: none;
}
.foot-company ul li a:hover{
   
   color:rgb(208, 255, 0);
   font-weight: bold;
   transform: scale(1.2);
   text-transform:uppercase;
   text-shadow: #210541;
   
}
.foot-help{
flex-basis: 15%;
}
.foot-help ul li{
list-style: none;
display:list-item;
}
.foot-help ul li a{
   color: #35038c;
text-decoration: none;
}
.foot-help ul li a:hover{
   color:rgb(28, 151, 44);
   font-weight: bold;
   text-transform:uppercase;
   text-shadow: #210541;
   
}
.foot-icons{
flex-basis: 15%;
padding-right: 3%;
}
.fab{
margin: 0 13px;
cursor: pointer;
padding: 18px 0;
color: #3e4444;
}
.foot .foot-bottom{
background-color: #DCDCDC;
color: #3e4444;
height: 40px;
text-align: center;
position: absolute;
padding-top: 20px;
bottom: 0px;
left: 0px;
width: 100%;
}

@media(max-width:500px){
   .foot{
      height: 690px;
   }
   .foot .foot-content{
      flex-direction: column;
      margin-left: 5%; 
   }
   .foot .foot-content .foot-shop{
      font-size: 16px;
   }
   .foot .foot-content .foot-shop ul li a{
      color: #3e4444;
      text-decoration: none;
   }
   .foot .foot-content .foot-company{
      text-decoration: none;
      color: #3e4444;
      font-size: 16px;
   }
   .foot .foot-content .foot-company ul li a{
      color: #3e4444;
      text-decoration: none;
   }
   .foot .foot-bottom{
      text-decoration: none;
      height: 20px;
      font-size: 14px;
   }
   .foot .foot-content .foot-help ul li a{
      color: #3e4444;
      text-decoration: none;
   }
}