*{
   margin: 0;
   padding: 0;
   font-family: 'Spartan', sans-serif;;
}
.header{
   min-height: 100vh;
   width: 100vw;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   position: relative;
}
nav{
   display: flex;
   justify-content: space-between;
  background-color: #53c68c;
  max-height: 70px;
}
nav img{
   margin-top: 0%;
   height: 120px;
   width: 120px;
}
.nav-links{
   flex: 1;
   text-align: right;
}
.nav-links ul li{
   padding-top: 3%;
   list-style: none;
   display: inline-block;
   padding-right: 7%;
   position: relative;
}
.nav-links ul li a{
   color: white;
   text-decoration: none;
   font-size: 16 px;
}

nav .fas{
  display: none;
}

.gbtn{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  }

/* SEARCH BAR*/
.nav-search{
  width: 200px;
   border-radius: 15px;
   border: 1px #000 solid;
   padding: 5px 5px 5px 25px;
   top: 0;
   left: 0;
   z-index: 5;
}
@media(max-width: 1366px){
  .header{
     background-image: url(images/bg2.png);
     overflow: hidden;
  }
  .nav-search{
    width: 95%;
  }
    .nav-links ul li{
     display: block;
    }
  .nav-links{
       position: absolute;
       background: #53c68c;
       height: 100vh;
       width: 200px;
       top: 0;
       right: -250px;
       text-align: left;
       z-index: 2;
       transition: 1s;
    }
  nav .fas{
      display: block;
      color: #fff;
      margin-top: 10%;
      margin-right: 8%;
      padding-right: 16px;
      font-size: 15px;
      cursor: pointer; 
    }
    .nav-links ul{
       padding: 30px;
    }
 }

 @media screen and (max-width: 500px) {
   .navbar a {
     float: none;
     display: block;
   }
 }
 .navbar input[type=text] {
   float: right;
   padding: 6px;
   background-color: white;
   margin-top: 15px;
   margin-right: 16px;
   margin-left: 190 px;
   padding-right: 5%;
   border: 2px;
   border-style: inset;
   border-radius: 15px;
   font-size: 17px;
   color: black;
 }
 
 @media screen and (max-width: 600px) {
   .navbar a, .navbar input[type=text] {
     float: none;
     display: block;
     text-align: left;
     width: 100%;
     margin: 0;
     padding: 14px;
   }
   .navbar input[type=text] {
     border: 1px solid black;  
   }
 }
.wrapper{
   min-height: 100vh;
   justify-content: center;
   display: flex;
   align-items: center;
}
.nav-search::placeholder{
   color: black;
}
.nav-search::-webkit-input-placeholder{
   color: black;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
 }
 @media(max-width:700px){
  .row{
    flex-direction: column;
  }
 }
 .coupons-col{
  flex: 60%;
  padding: 5px;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  overflow: hidden;
 }
 .coupons-col img{
  height: 100%;
  width: 100%;
 }