* {
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
  font-family: "Spartan", sans-serif;
  /* color: black; */
  /* overflow-x: hidden; */
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #53c68c;
  max-height: 70px;
}

nav img {
  height: 120px;
  width: 120px;
}

.nav-links {
  flex: 1;
  text-align: right;
  margin-top: -17px;
}

.nav-links ul li {
  padding-top: 3%;
  list-style: none;
  display: inline-block;
  padding-right: 7%;
  position: relative;
}

.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-size: 13 px;
}

nav .fas {
  display: none;
}
.gbtn{
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  }
@media (max-width: 1366px) {
  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #53c68c;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -250px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fas {
    display: block;
    color: #fff;
    margin-top: 6%;
    margin-right: 6%;
    font-size: 15px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* SEARCH BAR*/
.nav-search {
  width: 200px;
  border-radius: 15px;
  border: 1px #000 solid;
  padding: 5px 5px 5px 25px;
  top: 0;
  left: 0;
  z-index: 5;
  border: none;
}

@media screen and (max-width: 600px) {
  .navbar a,
  .navbar input[type="text"] {
    float: none;
    border-radius: 10px;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }

  .navbar input[type="text"] {
    border: 1px solid black;
  }

  .nav-search {
    width: 90%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.filter {
  display: inline-block;
  border: 1px solid grey;
  display: inline-block;
  border: 1px solid grey;
  margin-left: 3%;
  margin-top: 20px;
  box-shadow: 2px 0px 5px 1px grey;
  width: 590px;
}

.container {
  text-decoration: none;
  color: black;

  display: inline-block;
  margin-left: 60px;
  /* position: absolute; */
  margin-top: 90px;
}

.item-product-discription {
  width: 800px;
  display: inline-block;
  flex-direction: column;
}

.heading {
  margin-left: 30%;
}

.Products {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Product1 {
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Product2 {
  margin-left: 30%;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.content,
.Product-Price {
  position: absolute;
  display: inline-block;
  padding-top: 0%;
  margin-top: 60px;
  margin-left: 75px;
}

.Product-Price {
  margin-left: 225px;
}

.item-image {
  display: inline-block;
}

.Pro {
  width: 264px;
  height: 251px;
}

.Prize-row,
.Rating-row,
.Section-row {
  margin: 1px 0px 4px 12px;
  font-size: 17px;
  color: #2e2424;
}

.ViewMore {
  font-size: 15px;
  padding: 9px 16px;
  margin: 9px 110px;
  border: none;
  background-color: #53c68c;
}

#Sale_Section {
  display: flex;
  justify-content: center;
  width: 1586px;
  height: 325px;
  /* background-color: #ffffff; */
  margin: auto;
  margin-top: 3%;
}

#DOT {
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* margin: 20px 500px 0px 0px; */
}

.Sale_Section {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

@media (max-width: 600px) {
  #Sale_Section {
    display: none;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 353px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  right: 600px;
  margin: 110px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* padding: 100px; */
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  align-items: center;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

a {
  text-decoration: none;
  color: black;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

/* /Footer/ */
.foot {
  padding-top: 2%;
  background-color: #f0f0f0;
  color: #383838;
  height: 400px;
  position: relative;
}

.foot-content {
  justify-content: space-between;
  display: flex;
}

.foot-shop {
  flex-basis: 15%;
  padding-left: 2%;
}

.foot-shop ul li {
  list-style: none;
  display: list-item;
}

.foot-shop ul li a {
  text-decoration: none;
  color: black;
}

.foot-company {
  flex-basis: 15%;
}

.foot-company ul li {
  list-style: none;
  display: list-item;
}

.foot-company ul li a {
  text-decoration: none;
}

.foot-help {
  flex-basis: 15%;
}

.foot-help ul li {
  list-style: none;
  display: list-item;
}

.foot-help ul li a {
  text-decoration: none;
}

.foot-icons {
  flex-basis: 15%;
  padding-right: 3%;
}

.fab {
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
  color: #3e4444;
}

.foot .foot-bottom {
  background-color: #dcdcdc;
  color: #3e4444;
  height: 40px;
  text-align: center;
  position: absolute;
  padding-top: 20px;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

@media (max-width: 500px) {
  .foot {
    height: 690px;
  }

  .foot .foot-content {
    flex-direction: column;
    margin-left: 5%;
  }

  .foot .foot-content .foot-shop {
    font-size: 16px;
  }

  .foot .foot-content .foot-company {
    font-size: 16px;
  }

  .foot .foot-bottom {
    height: 20px;
    font-size: 14px;
  }
}

button {
  cursor: pointer;
}

button:active {
  background-color: rgb(204, 81, 81);
}

@media (max-width: 600px) and (min-width: 300px) {
  .filter {
    display: none;
  }
}

@media (max-width: 600px) and (min-width: 300px) {
    
  #Products {
    display: inline;
    width: 80%;
  }

  .Product1 {
    display: flex;
    margin-left: 9%;
  }
  .Product2 {
    display: flex;
    margin-left: 9%;
  }
  .content {
    display: none;
    margin: 0px;
  }
  .item-image {
    margin-right: 0px;
    width: 0%;
  }

  div b {
    margin: 50px;
  }
  .Pro {
    width: 140px;
    height: 140px;
    box-shadow: 1px 0px 5px 0.5px grey;
  }
  hr {
    display: none;
  }
  .Product-Price {
    display: inline-block;
    margin-left: 60px;
    margin-top: 15px;
    font-size: 12px;
    overflow-x: hidden;
  }
  .ViewMore {
    width: 120px;
    height: 50px;
    font-size: 16px;
  }
  .item-product-discription {
    margin-top: 5%;
    margin-bottom: 2%;
    overflow: hidden;
  }
  h1 {
    text-decoration: underline;
    font-weight: bold;
  }
}
