
*{
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;;
 }
 
 .header{
    min-height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
 }
 nav{
    display: flex;
    justify-content: space-between;
   background-color: #53c68c;
   max-height: 70px;
 }
 nav img{
    height: 120px;
    width: 120px;
 }
 .nav-links{
    flex: 1;
    text-align: right;
 }
 .nav-links ul li{
    padding-top: 3%;
    list-style: none;
    display: inline-block;
    padding-right: 7%;
    position: relative;
 }
 .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13 px;
 }
 nav .fas{
    display: none;
 }
 .gbtn{
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    }
 @media(max-width: 1366px){
  .header{
   background-color: #53c68c ;
  }
    .nav-links ul li{
     display: block;
    }
  .nav-links{
       position: absolute;
       background: #53c68c;
       height: 100vh;
       width: 200px;
       top: 0;
       right: -250px;
       text-align: left;
       z-index: 2;
       transition: 1s;
    }
  nav .fas{
      display: block;
      color: #fff;
      margin-top: 6%;
      margin-right: 6%;
      font-size: 15px;
      cursor: pointer; 
    }
    .nav-links ul{
       padding: 30px;
    }
 }
 /* SEARCH BAR*/
 .nav-search{
    width: 200px;
     border-radius: 15px;
     border: 1px #000 solid;
     padding: 5px 5px 5px 25px;
     top: 0;
     left: 0;
     z-index: 5;
 }
 @media screen and (max-width: 600px) {
 
    .navbar a,
    .navbar input[type=text] {
        float: none;
        border-radius: 10px;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
 
    .navbar input[type=text] {
        border: 1px solid black;
    }
    .nav-search{
       width: 90%;
        border-radius: 15px;
        border: 1px #000 solid;
        padding: 5px 5px 5px 25px;
        top: 0;
        left: 0;
        z-index: 5;
 }
 }
 @media screen and (max-width: 500px) {
  .navbar a {
 float: none;
 display: block;
   }
  }
 
 *::before, *::after{
 margin:0;
 padding: 0;
 box-sizing: inherit;
 }
 .picZoomer{
	position: relative;
    margin-left: 40px;
    padding: 15px;
}
.picZoomer-pic-wp{
	position: relative;
	overflow: hidden;
    text-align: center;
}
.picZoomer-pic-wp:hover .picZoomer-cursor{
	display: block;
}
.picZoomer-zoom-pic{
	position: absolute;
	top: 0;
	left: 0;
}

.picZoomer-zoom-wp{
	display: none;
	position: absolute;
	z-index: 999;
	overflow: hidden;
    border:1px solid rgb(207, 236, 209);
    height: 460px;
    margin-top: -19px;
}
.picZoomer-cursor{
	display: none;
	cursor: crosshair;
	width: 100px;
	height: 100px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 50%;
	border: 1px solid #eee;
	background-color: rgba(0,0,0,.1);
}
.picZoomCursor-ico{
	width: 23px;
	height: 23px;
	position: absolute;
	top: 40px;
	left: 40px;
	/* background: url(images/zoom-ico.png) left top no-repeat; */
}
.image{
    display: inline-block;
    margin: 57px 0px 0px 60px ;
    
}
.my_img {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}
.piclist li{
    display: inline-block;
    width: 90px;
    height: 114px;
    border: 1px solid #eee;
}
.piclist li img{
    width: 97%;
    height: auto;
}

/* custom style */
.picZoomer-pic-wp,
.picZoomer-zoom-wp{
    border: 1px solid #eee;
}



.section-bg {
    background-color: #abeea1;
}
section {
    padding: 60px 0;
}
.photo-album .photo-main {
    padding-left: 5px;
    padding-right: 5px;
}

/*===pic-Zoom===*/
._boxzoom .zoom-thumb {
    width: 90px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0px;
}
._boxzoom .zoom-thumb ul.piclist {
    padding-left: 0px;
    top: 0px;
}
._boxzoom ._product-images {
    width: 80%;
    display: inline-block;
}
._boxzoom ._product-images .picZoomer {
    width: 100%;
}
._boxzoom ._product-images .picZoomer .picZoomer-pic-wp img {
    left: 0px;
}
._boxzoom ._product-images .picZoomer img.my_img {
    width: 100%;
}
.piclist li img {
    height:100px;
    object-fit:cover;
}

/*======products-details=====*/
._product-detail-content {
    background: rgb(252 255 252);
    padding: 15px;
    border: 1px solid rgb(12, 11, 11);
    border-radius: 15px;
    border: none;
}
._product-detail-content p._p-name {
    color: black;
    font-size: 20px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 12px;
}
.p-list span {
    margin-right: 15px;
}
.p-list span.price {
    font-size: 25px;
    color: #60b163;
}
._p-qty > span {
    color: black;
    margin-right: 15px;
    font-weight: 500;
}
._p-qty .value-button {
    display: inline-flex;
    border: 0px solid #ddd;
    margin: 0px;
    width: 30px;
    height: 35px;
    justify-content: center;
    align-items: center;
    background: #215625;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
}

._p-qty .value-button {
    border: 0px solid #fe0000;
    height: 35px;
    font-size: 20px;
    font-weight: bold;
}
._p-qty input#number {
    text-align: center;
    border: none;
    border-top: 1px solid #2cf00d;
    border-bottom: 1px solid #33ec0e;
    margin: 0px;
    width: 50px;
    height: 35px;
    font-size: 14px;
    box-sizing: border-box;
}
._p-add-cart {
    margin-left: 0px;
    margin-bottom: 15px;
}
.p-list {
    margin-bottom: 10px;
}
._p-features > span {
    display: block;
    font-size: 16px;
    color: #000;
    font-weight: 500;
}
._p-add-cart .buy-btn {
    background-color: #4fd834;
    color: #fff;
}
._p-add-cart .btn {
    text-transform: capitalize;
    padding: 6px 20px;
    /* width: 200px; */
    border-radius: 5px;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
._p-add-cart .btn {
    margin: 0px 8px;
}

/*=========Recent-post==========*/
.title_bx h3.title {
    font-size: 22px;
    text-transform: capitalize;
    position: relative;
    color: #fff;
    font-weight: 700;
    line-height: 1.2em;
}
.title_bx h3.title:before {
    content: "";
    height: 2px;
    width: 20%;
    position: absolute;
    left: 0px;
    z-index: 1;
    top: 40px;
    background-color: #56d84b;
}
.title_bx h3.title:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 40px;
    background-color: #4dd341;
}
.common_wd .owl-nav .owl-prev, .common_wd .owl-nav .owl-next {
    background-color: #2ece2b !important;
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 0px !important;
}
.owl-nav .owl-next {
    right:-10px;
}
.owl-nav .owl-prev, .owl-nav .owl-next {
    top:50%;
    position: absolute;
}
.common_wd .owl-nav .owl-prev i, .common_wd .owl-nav .owl-next i {
    color: #fff;
    font-size: 14px !important;
    position: relative;
    top: -1px;
}
.common_wd .owl-nav {
    position: absolute;
    top: -21%;
    right: 4px;
    width: 65px;
}
.owl-nav .owl-prev i, .owl-nav .owl-next i {
    left: 0px;
}
._p-qty .decrease_ {
    position: relative;
    right: -5px;
    top: 3px;
}

._p-qty .increase_ {
    position: relative;
    top: 3px;
    left: -5px;
}
/*========box========*/
.sq_box {
    padding-bottom: 5px;
    border-bottom: solid 2px #36f74d;
    background-color: #fff;
    text-align: center;
    padding: 15px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}
.item .sq_box span.wishlist {
    right: 5px !important;
}
.sq_box span.wishlist {
    position: absolute;
    top: 10px;
    right: 20px;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box span.wishlist i {
    color: #adb5bd;
    font-size: 20px;
}
.sq_box h4 {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    color: #343a40;
    margin-top: 10px;
    margin-bottom: 10px !important;
}
.sq_box .price-box {
    margin-bottom: 15px !important;
}
.sq_box .btn {
    border-radius: 50px;
    padding: 5px 13px;
    font-size: 15px;
    color: #fff;
    background-color: #56ca50;
    font-weight: 600;
}
.sq_box .price-box span.price {
    text-decoration: line-through;
    color: #6c757d;
}
.sq_box span {
    font-size: 14px;
    font-weight: 600;
    margin: 0px 10px;
}
.sq_box .price-box span.offer-price {
    color:#28a745;
}
.sq_box img {
    object-fit: cover;
    height: 150px !important;
    margin-top: 20px;
}
.sq_box span.wishlist i:hover {
    color: #50e943;
}
.prod_data , .offers , .Key , .uses , .brand {
    display: block;
    border: black;
    color: black;
    background-color: rgb(228, 241, 232);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
    padding-top: 2%;
    padding-left: 3%;
    font-size: medium;
    color:black;
}
.offers a{
    text-decoration: none;
    color: #24ac12;
}
.item a{
    text-decoration: none;
    color: #24ac12;  
}
.brand a{
    text-decoration: none;
    color: #00995c;
} 
    @media screen and (max-width: 500px) {
        .navbar a {
       float: none;
       display: block;
         }
         ._p-features{
             font-size: 14px;
         }
         .title{
            margin-top: 20%;
         }
         .prod_data {
        margin-left: 3%;
        margin-right: 3%;
         }
         .prod_data h2{
            font-size: 18px;
         }
         .prod_data p{
            font-size: 14px;    
         }
        .offers{
            margin-left: 3%;
            margin-right: 3%;
        }
        .offers h2{
            font-size: 18px;
         }
         
        .offers ul li{
            font-size: 14px;
            margin-left: 3%;
            margin-right: 3%;   
        }
        .Key{
            margin-left: 3%;
            margin-right: 3%;
        }
        .Key h2{
            font-size: 18px;
         }
         .Key ul li{
            font-size: 14px;    
         }
        .uses{
            margin-left: 3%;
            margin-right: 3%;
        }
        .uses ul li{
            font-size: 14px;
            margin-left: 3%;
            margin-right: 3%;  
        }
        .uses h2{
            font-size: 18px;
         }
        .brand{
            margin-left: 3%;
            margin-right: 3%;
        }
        .brand h2{
            font-size: 18px;
         }
         .brand p{
            font-size: 14px;    
         }
        }